﻿<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" 
              android:orientation="vertical" 
              android:layout_width="match_parent" 
              android:layout_height="match_parent">
	<TextView android:layout_width="match_parent" 
	          android:layout_height="wrap_content" 
            android:textSize="@dimen/abc_text_size_medium_material"
	          android:text="       Loading Koderek ver.1.0.1...." />


</LinearLayout>
